.promo2 {
  background-color: #4f6dc0;
  width: 12vw;
  border-radius: 4px 0px;
  color: white;
  text-align: center;
  margin-top: -42px;
  margin-left: 45px;
  border-radius: 0px 0px 10px 5px;
  border: 0px solid #ffffff;
}